<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{assets}}/styles/main.css">
    <script type="text/javascript" src="//use.typekit.net/eti8qxy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    {{> navbar-fixed-top }}
    {{> body }}{{> site-footer }}
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="{{assets}}/scripts/leaflet/plugins/vector/KML.js"></script>
    <script src="{{assets}}/scripts/map.js"></script>
    <script src="{{assets}}/scripts/highlight.js"></script>
      {{> map-script}}
  </body>
</html>
