<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
       <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    {{!-- <link rel="stylesheet" href="{{assets}}/styles/assemble.css"> --}}
    {{!-- <link rel="stylesheet" href="{{assets}}/styles/github.css"> --}}
    <link rel="stylesheet" href="{{assets}}/styles/main.css">
    <script type="text/javascript" src="//use.typekit.net/eti8qxy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    {{> navbar-fixed-top }}
    {{> body }}{{> site-footer }}
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!-- <script src="{{assets}}/scripts/leaflet/leaflet.js"></script>-->
    <script src="{{assets}}/scripts/leaflet/plugins/vector/KML.js"></script>
    <!--<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="http://matchingnotes.com/javascripts/leaflet-google.js"></script>-->
    <script src="{{assets}}/scripts/map.js"></script>
    <script src="{{assets}}/scripts/highlight.js"></script>
    {{#if kml}}
      {{> map-script}}
    {{/if}}
  </body>
</html>
